<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="./node_modules/element-ui/lib/theme-chalk/index.css">
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background-color: #eee;">
    <div id="app">
    <el-container >
        <el-main>
            <h2>管理员登录</h2>
            <el-input v-model="acc" placeholder="请输入管理员账号"></el-input>
            <el-input v-model="pwd" placeholder="请输入管理员密码" show-password></el-input>
            <el-button type="primary">登录</el-button>
        </el-main>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="./node_modules/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="./node_modules/element-ui/lib/index.js"></script>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js "></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>


<script>
    new Vue({
        el: '#app',
        data : {
            acc : '',
            pwd : ''
        }
    })
</script>
<style>
   .el-container {
       margin:5% 30% 0 30%;
       text-align: center;
       font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
   }
   .el-main {
       margin: 20%;
   }
   .el-button {
       width: 100%;
       margin-top: 2vh;
   }
   .el-input {
       margin-top: 4px;
   }
  
</style>

</html>