<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://rm-2vc158j9z8735dj0uqo.mysql.cn-chengdu.rds.aliyuncs.com:3306/qr"/>
                <property name="username" value="xzp_trace_mysql"/>
                <property name="password" value="S13032855167cu"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/UserConvertMapper.xml" />
        <mapper resource="mapper/UserDetailMapper.xml" />
        <mapper resource="mapper/TestMysqlUsableMapper.xml" />
        <mapper resource="mapper/AddressMapper.xml" />
        <mapper resource="mapper/CodeManageMapper.xml" />
        <mapper resource="mapper/UserAndAddrMapper.xml" />
        <mapper resource="mapper/AdminMapper.xml" />
    </mappers>
</configuration>